{{#with post}}
<div class="details-container">
    <div class="details-container-image">
        <img src="{{imageUrl}}">
    </div>
    <div class="details-container-info">
        <h2>{{title}}</h2>
        <h3>{{blogCategory}}</h3>
        <h3>By: {{_ownerId.email}}</h3>
        {{#if followers}}
        <h4>Follow By: {{followers}}</h4>
        {{else}}
        <h4>There are no followers yet!</h4>
        {{/if}}
    </div>
    <div class="details-container-content">
        <p>
            {{content}}
        </p>
    </div>
    {{#if user}}
    <div class="btn-container">
        {{#if isOwner}}
        <a href="/posts/edit/{{_id}}">Edit</a>
        <a href="/posts/delete/{{_id}}">Delete</a>
        {{else}}
        {{#if isFollowing}}
        <p class="follow-pub">You already follow this blog!</p>
        {{else}}
        <a href="/posts/follow/{{_id}}">Follow</a>
        {{/if}}
        {{/if}}
    </div>
    {{/if}}
</div>
{{/with}}