<section id="deatils-page">
    <div class="wrapper">
        <div class="product-img">
            <img src="{{offer.imageUrl}}">
        </div>
        <div class="product-info">
            <div class="product-text">
                <div class="product-text">
                    <h1>Name: {{offer.name}}</h1>
                    <h2>Type: {{offer.type}}</h2>
                    <h4>Year: {{offer.year}}</h4>
                    <h4>City: {{offer.city}}</h4>
                    <p>Description: {{offer.description}}</p>

                    {{#if usersRenting}}
                    <p>People rented this housing: {{usersRenting}}</p>
                    {{else}}
                    <p>People rented this housing: There are no tenants yet.</p>
                    {{/if}}
                </div>
            </div>

            {{#if user}}
            <div class="product-btn">
                {{#if isOwner}}
                <a href="/offer/edit/{{offer._id}}" class="edit">Edit</a>
                <a href="/offer/delete/{{offer._id}}" class="remove">Delete</a>
                {{else}}
                {{#if availableSpace}}
                {{#if isRenting}}
                <p class="alRentHome">You have already rent this home</p>
                {{else}}
                <a href="/offer/rent/{{offer._id}}" class="rentHome">Rent a home, available {{offer.availablePieces}}
                    housing</a>
                {{/if}}
                {{else}}
                {{#if isRenting}}
                <p class="alRentHome">You have already rent this home</p>
                {{else}}
                <p class="no-housing">No Housing Available!</p>
                {{/if}}
                {{/if}}
                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
</section>